<li class="codeage-badge <%= earned ? '' : 'unearned'%>">
  <%= image_tag(a.image_path, :alt => a.title) %>

  <% if earned && a.ancestors.include?(LeveledAchievement) %>
    <span class="level level-<%=achievement.level%>"></span>
  <% else %>
    <span class="level level-false"></span>
  <% end %>

  <p class="description bubble speech"
    data-orientation="<%= a.bubble[:orientation] %>"
    data-bottom="<%= a.bubble[:bottom] %>"
    data-left="<%= a.bubble[:left] %>"
    data-right="<%= a.bubble[:right] %>">
      <span class="achievement-title"><%= a.title %></span>    <br>
      <span class="achievement-description">
        <% if earned && a.ancestors.include?(LeveledAchievement) %>
          <%= achievement.description %>
        <% else %>
          <%= a.description %>
        <% end %>
      </span>
  </p>
</li>
