<h2>Recent Earners</h2>

<ul class="celler">
  <% @recent_achievements.each do |achievement| %>
    <li>
      <%= link_to user_path(:username => achievement.user.nickname) do %>
          <span class="photo">
            <%= image_tag(achievement.user.gravatar + '&s=36', :alt => achievement.user, :width => 25, :height => 25) %>
          </span>
          <%= achievement.user %><% end %>
      earned <span class="cacolor" title="<%= achievement.class.description %>"><%= achievement.class.title %></span> <%= time_ago_in_words(achievement.created_at) %> ago
    </li>
  <% end %>
</ul>