<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a href="/" class="brand"><%= image_tag 'codeage.png', :alt=>'CodeAge' %> CodeAge</a>
      <div class="navbar-content">
        <ul class="nav">

        </ul>

        <% if user_signed_in? %>
          <%= link_to destroy_user_session_path, class: 'btn pull-right', method: :delete do %>
            Logout<span class="icon icon-off"></span>
          <% end %>

          <%= link_to user_path(:username => current_user.nickname), :class => "topusername badge badge-info pull-right" do %>
              <span class="icon icon-user"></span>
              <span>
                <%= current_user.nickname %>
              </span>
          <% end %>
        <% else %>
          <a class="btn pull-right" href="/settings/auth/github">
            Login with
            <%= image_tag 'github.png' %>GitHub
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>