<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a href="/" class="brand">CodeAge</a>
      <div class="navbar-content">
        <ul class="nav">
          <li class="<%= 'active' if current_page? root_path %>">
            <%= link_to "About", root_path %>
          </li>
        </ul>

        <% if user_signed_in? %>
          <%= link_to destroy_user_session_path, class: 'btn pull-right', method: :delete do %>
            Logout<span class="icon icon-off"></span>
          <% end %>

          <%= link_to user_path(:username => current_user.nickname), :class => "topusername badge badge-info pull-right" do %>
              <span class="icon icon-user">
              </span>
              <span>
                <%= current_user.nickname %>
              </span>
          <% end %>
      <% else %>
          <a class="btn pull-right" href="/settings/auth/github">Login with GitHub</a>
        <% end %>
      </div>
    </div>
  </div>
</div>