<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a href="/" class="brand">CodeAge</a>
      <div class="navbar-content">
        <ul class="nav">
          <% if current_user %>
              <li class="<%= 'active' if params[:action] == 'profile' %>">
                <a href="/profile" class="<% %>">Profile</a>
              </li>
          <% end %>
          <li class="<%= 'active' if params[:action] == 'about' %>">
            <a href="/about">About</a>
          </li>
        </ul>
        <% if current_user %>

          <%= link_to destroy_user_session_path, class: 'btn pull-right', method: :delete do %>
            Logout<span class="icon icon-off"></span>
          <% end %>

          <a class="topusername badge badge-info pull-right" href="<%= url_for :action => 'public', :controller => 'user', :username => current_user.nickname %>">
              <span class="icon icon-user">
              </span>
              <span>
                <%= current_user.nickname %>
              </span>
          </a>

      <% else %>
          <a class="btn pull-right" href="/auth/github">Login with GitHub</a>
        <% end %>
      </div>
    </div>
  </div>
</div>